* {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.container {
    max-width: calc(1000px + 1.5rem);
}


/* page 
=================== */

.page {
    width: 100%;
    height: 100vh;
    min-height: 650px;
    background-color: rgb(235, 231, 29);
    background: url(/img/bg.jpg) center center/cover no-repeat;
    position: relative;
    overflow: hidden;
}


/* header 
=================== */

.header {
    margin-bottom: 15vh;
    background-color: rgb(42, 96, 177);
}

.header-inner {
    padding: 0.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-brand {
    text-transform: uppercase;
    color: bisque;
}

.header-brand-name {
    margin-bottom: 0;
    font-weight: 700;
}

.header-logo {
    letter-spacing: -0.8rem;
    color: bisque;
}

.header-logo-img {
    font-size: calc(1.375rem + 1.5vw);
    transition: all 0.4s linear;
}

.header-logo:hover {
    color: rgb(220, 246, 49);
}

.header-nav-link {
    display: inline-block;
    margin-left: 2vw;
    font-size: 0.9rem;
    text-decoration: none;
    text-transform: uppercase;
    color: bisque;
    transition: all 0.4s linear;
}

.header-nav-link:first-child {
    margin-left: 0;
}

.header-nav-link:hover {
    text-decoration: overline;
    color: bisque;
}

.header-nav-link.active {
    position: relative
}

.header-nav-link.active::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: bisque;
    position: absolute;
    left: 0;
    bottom: -5px;
}


/* Contetnt 
=================== */

.content {
    width: 65%;
}

.content-sub-title {
    font-weight: 700;
    color: rgba(255, 255, 255, .6);
    opacity: 0.7;
}

.content-title {
    margin-bottom: 2.5rem;
    font-weight: 700;
    color: #fff;
}

.content-title span {
    font-size: inherit;
    font-weight: 700;
    color: blue;
}

.content-text {
    font-size: 1rem;
    color: bisque;
}

.btn {
    background-color: rgb(69, 116, 211);
    border-radius: 5px;
    color: bisque;
    cursor: pointer;
    transition: background-color .6s linear;
}

.btn:hover {
    background-color: rgb(9, 65, 177);
}


/* footer 
=================== */

.footer {
    width: 100%;
    position: absolute;
    bottom: 2rem;
    left: 0;
}


/* contacts 
=================== */

.contacts {
    display: flex;
    align-items: center;
}

.contacts-link {
    margin-right: 2rem;
    font-weight: 500;
    color: beige;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s linear;
}

.contacts-link:last-child {
    margin-right: 0;
}

.contacts-link:hover {
    text-decoration: underline;
    color: beige;
}

.contacts-logo-img {
    margin-right: 0.5rem;
    font-size: 1.1rem;
    color: rgb(69, 116, 211);
}


/* Contact-form 
=================== */

.form {
    max-width: 280px;
    width: 100%;
    margin-top: 1.8rem;
}

.form_inp {
    width: 100%;
    margin-bottom: .5rem;
    padding: 0.6rem;
    display: block;
    font-size: inherit;
    color: #fff;
    border: none;
    border-radius: 10px;
    background-color: rgba(92, 91, 91, .5);
}

.form_message {
    resize: none;
    height: 100px;
}

.form_inp::placeholder,
.form_message::placeholder {
    color: rgb(192, 189, 189);
    font-size: inherit;
}

.form_inp:focus {
    outline: none;
}

.form_message {
    width: 100%;
    margin-bottom: .5rem;
    padding: 0.6rem;
    font-size: inherit;
    color: #fff;
    border: none;
    border-radius: 10px;
    background-color: rgba(92, 91, 91, .5);
}

.form_message:focus {
    outline: none;
}

.form_btn {
    width: 100%;
}

.form_btn:active {
    outline: none;
}


/* Author-img
=================== */

.author {
    position: absolute;
    bottom: 0;
    right: 20px;
    opacity: 0.6;
    height: 600px;
    width: auto;
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}


/* Animation
==================== */

@-webkit-keyframes bounceIn {
    0%,
    20%,
    40%,
    60%,
    80%,
    100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }
    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }
    40% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9);
    }
    60% {
        opacity: 0.6;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }
    80% {
        -webkit-transform: scale3d(.97, .97, .97);
        transform: scale3d(.97, .97, .97);
    }
    100% {
        opacity: 0.6;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes bounceIn {
    0%,
    20%,
    40%,
    60%,
    80%,
    100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }
    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }
    40% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9);
    }
    60% {
        opacity: 0.6;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }
    80% {
        -webkit-transform: scale3d(.97, .97, .97);
        transform: scale3d(.97, .97, .97);
    }
    100% {
        opacity: 0.6;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}


/* Media rules
====================== */

@media (min-width: 1325px) {
    /* author */
    .author {
        right: 15%;
        bottom: 0;
    }
}

@media (min-height: 1000px) {
    /* author */
    .author {
        height: 75vh;
    }
}

@media (max-width: 1325px) {
    /* author */
    .author {
        right: 50px;
        bottom: 0;
    }
}

@media (max-width: 1050px) {
    /* author */
    .author {
        right: -60px;
        bottom: 0;
    }
}

@media (max-width: 790px) {
    /* author */
    .author {
        right: -100px;
        bottom: 0;
    }
}

@media(max-width:690px) {
    /* page */
    .page {
        min-height: 100vh;
        height: auto;
        padding-bottom: 2rem;
    }
    /* header */
    .header-logo {
        display: none;
    }
    .header {
        margin-bottom: 50px;
    }
    /* main */
    .content {
        width: 100%;
        text-align: center;
        margin-bottom: 50px;
    }
    .content-title {
        margin-bottom: 15px;
    }
    /* form */
    .form {
        margin-left: auto;
        margin-right: auto;
    }
    /* footer */
    .footer {
        position: static;
    }
    .contacts {
        flex-direction: column;
        font-size: 1.5rem;
    }
    .contacts-link {
        margin-right: 0;
        margin-bottom: 2vh;
    }
    .contacts-link:last-child {
        margin-bottom: 0;
    }
    /* author */
    .author {
        display: none;
    }
}

@media(max-width:585px) {
    /* header */
    .header-inner {
        flex-direction: column;
    }
    .header-nav-link,
    .header-nav-link:first-child {
        margin: 1vw 2vw;
    }
    .header {
        margin-bottom: 25px;
    }
}